{% extends 'store/base.html' %}
{% load static %}

{% block hero_video %}
<div id="video-container" class="full-screen-logo">
  <video autoplay loop muted playsinline webkit-playsinline >
    <source src="{% static 'store/media/logo.mp4' %}" type="video/mp4" />
  </video>
</div>

{% endblock %}

{% block content %}
<section id="home" class="hero-only-section">
  {% if user.is_authenticated %}
    <div class="user-welcome">
      <p>WELCOME, {{ user.first_name|default:user.username|upper }}</p>
    </div>
  {% endif %}
</section>
{% endblock %}


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
